<div class="addNewUser" *ngIf="editUser">
  <form [formGroup]="addUserForm">
    <mat-form-field class="form">
      <mat-label>Name</mat-label>
      <input type="text" matInput placeholder="Enter Name" formControlName="name" minlength="3" maxlength="15" />
      <mat-error *ngIf="newUser?.['name']?.touched && newUser?.['name']?.errors?.['required']">
        Name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="newUser?.['name']?.touched && newUser?.['name']?.errors?.['minlength']">
        Name length minimum 3 and maximum 15 is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form">
      <mat-label>Email Id</mat-label>
      <input type="email" matInput placeholder="Enter Email" formControlName="email" readonly />
      <mat-error *ngIf="
          newUser?.['email']?.touched && newUser?.['email']?.errors?.['required']
        ">
        Email Id is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form">
      <mat-label>Mobile</mat-label>
      <input type="text" matInput placeholder="Enter Mobile Number" formControlName="mobile" minlength="10"
        maxlength="10" (keypress)="numberOnly($event)" />
      <mat-error *ngIf="
          newUser?.['mobile']?.touched && newUser?.['mobile']?.errors?.['required']
        ">
        Mobile number is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="
          newUser?.['mobile']?.touched && newUser?.['mobile']?.errors?.['minlength']
        ">
        Minimum 10 digit number is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form">
      <mat-label>Password</mat-label>
      <input [type]="viewPassword ? 'text' : 'password'" matInput placeholder="Enter password"
        formControlName="password" minlength="6" maxlength="14" />
      <mat-icon matSuffix (click)="togglePasswordVisibility()">visibility</mat-icon>
      <mat-error *ngIf="
          newUser?.['password']?.touched &&
          newUser?.['password']?.errors?.['required']
        ">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="
          newUser?.['password']?.touched &&
          newUser?.['password']?.errors?.['minlength']
        ">
        Password length minimum 6 and maximum 14 is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form">
      <mat-label>City</mat-label>
      <input type="text" matInput placeholder="Enter city" formControlName="city" minlength="3" maxlength="20" />
      <mat-error *ngIf="
          newUser?.['city']?.touched &&
          newUser?.['city']?.errors?.['required']
        ">
        City is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="
          newUser?.['city']?.touched &&
          newUser?.['city']?.errors?.['minlength']
        ">
        City length minimum 3 is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <div class="action">
    <button mat-stroked-button color="primary" id="saveButton" (click)="saveUser()" id="add"
      [disabled]="!addUserForm.valid">
      Update
    </button>
    <button mat-stroked-button color="accent" id="saveButton" (click)="cancel()">
      Cancel
    </button>
  </div>
</div>

<div class="container" *ngIf="!editUser">
  <table mat-table [dataSource]="userData" class="mat-elevation-z8">
    <ng-container *ngFor="let columnName of columnNames; let i = index;" [matColumnDef]="columnName">
      <th mat-header-cell *matHeaderCellDef>{{ capitalize(columnName) }}</th>
      <span>
        <td mat-cell *matCellDef="let row"><span *ngIf="i <= 5">{{ row[columnName] }}</span><span *ngIf="i == 6"><button
              mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="edit(row)">
              <mat-icon>edit</mat-icon>
            </button></span></td>
      </span>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
  </table>

  <div *ngIf="!isLoading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>