<div class="container">
  <table mat-table [dataSource]="userData" class="mat-elevation-z8">
    <ng-container *ngFor="let columnName of columnNames; let i = index;" [matColumnDef]="columnName">
      <th mat-header-cell *matHeaderCellDef>{{ capitalize(columnName) }}</th>
      <span>
        <td mat-cell *matCellDef="let row"><span *ngIf="i <= 5">{{ row[columnName] }}</span><span *ngIf="i == 6"><button
              mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="delete(row)">
              <mat-icon>delete</mat-icon>
            </button></span></td>
      </span>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
  </table>
  <div *ngIf="!isLoading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>