.container {
  margin: 4em;
  height: 30em;
  overflow: auto;
}

.spinnerLoading {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 576px) {
  .container {
    margin: 0;
  }
}